.str1 {
  display: block;
  align-items: center;
  gap: 1rem;
}
.srt2 {
  display: block;
  align-items: center;
  gap: 1rem;
}
.coding {
  width: 14rem;
}
.ge {
  width: 10rem;
  height: 0.01rem;
  background-color: #313132;
  margin-left: 2rem;
}
.le {
  width: 25rem;
  height: 0.01rem;
  background-color: #313132;
  margin-left: 2rem;
}
.mainwork {
  padding-left: 2.5rem;
}
.lineo {
  display: none;
}
.mainwork .line{
  display: none;
}
.works-card .section-header {
  gap: 8rem;

}

.blogs-card .mainwork{
  overflow: hidden;
  margin-left: 0rem;
}