* {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Rajdhani", sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}
body,
html {
  scroll-behavior: smooth;
  font-family: "Arial Narrow Bold", sans-serif;
  font-display: swap !important;
  margin: 0;
  padding: 0;
}
:root {
  --dark-blue: #161616;
  --gray-orange: #161616;
}
.icon {
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 30px;
  font-size: 20px;
  color: #323232;
  line-height: 30px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.preloader span {
  animation: loading 0.4s linear infinite;
  -webkit-animation: loading 0.4s linear infinite;
}
.page {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-gred {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    var(--dark-blue) 0,
    var(--gray-orange) 100%
  );
}

.container {
  margin: 8vh 4vw;
  position: relative;
  top: 40px;
  left: 0;
  width: 100%;
  height: 84vh;
  max-width: 1268px;
  max-height: 674px;
  transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
}
header {
  position: relative;
  top: 15px;
  width: 72px;
  text-align: center;
  float: left;
  margin-right: 10px;
  z-index: 10;
}
.navBtn {
  display: block;
  position: relative;
  height: 70px;
  margin-bottom: 8px;
  background-color: #222222;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.btnz {
  display: block;
  position: relative;
  height: 70px;
  margin-bottom: 8px;
  background-color: #222222;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.btnz span {
  color: #dedede;
  margin-top: 2.3rem;
}
.btnz span:hover {
  color: #f6b846;
}
.navIcon {
  margin-left: -16px;
  margin-top: -1px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 30px;
  height: 2px;
  background: #dedede;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.navIcon::after,
.navIcon::before {
  content: "";
  position: absolute;
  height: 2px;
  margin: 8px 0;
  background: #dedede;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}
.navIcon::before {
  left: 0;
  top: 0;
  width: 20px;
}
.navIcon::after {
  bottom: 0;
  left: 0;
  width: 26px;
}
.navBtn:hover > .navIcon,
.navBtn:hover > ::after,
.navBtn:hover > ::before {
  width: 30px;
  background-color: #f6b846;
}
.menu-list {
  list-style: none;
  background: #222222;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 1px;
}
.menu {
  display: flex;
  flex-direction: column;
}
.profileText {
  display: none;
}
.menu label {
  padding: 13px 3px;
  position: relative;
  overflow: hidden;
  display: block;
  height: auto;
  color: #dedede;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  cursor: pointer;
}
.menu label:hover {
  color: #f6b846;
}
.menu label:hover > span {
  color: #f6b846 !important;
}
.menu label.active-menu {
  color: #f6b846;
}
.menu label.active-menu > span {
  color: #f6b846 !important;
}
.menu label::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background: radial-gradient(
    ellipse at center,

    #313233 0,
    rgba(255, 255, 255, 0) 70%
  );
}
.menu label span {
  height: 1.8rem;
}
/*--------------------------------- profile card csss ------------------------------------- */
.main-card {
  position: relative;
  width: 470px;
  height: 100%;
  float: left;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.main-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 4px;
  -moz-border-radius: 0 0 4px;
  -webkit-border-radius: 0 0 4px;
  -khtml-border-radius: 0 0 4px;
  z-index: 5;
}
.main-card::after {
  position: absolute;
  content: "";
  left: -15px;
  top: -15px;
  width: 100%;
  height: 95%;

  background: -moz-linear-gradient(
    -45deg,
    rgba(202, 154, 109, 0.4) 100%,
    rgba(204, 144, 109, 0.01) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #30291b 100%,
    rgba(204, 144, 109, 0.01) 100%
  );
  background: linear-gradient(
    -45deg,
    #30291b 100%,
    rgba(204, 144, 109, 0.01) 100%
  );
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.main-card-wrap {
  position: relative;
  width: 100%;
  height: 95%;
  background-color: #222222;
  box-shadow: 6px 0px #1f1f1f;
  z-index: 5;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.my-photo {
  position: relative;
  width: 100%;
  height: 375px;
  background-size: cover;
  overflow: hidden;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  clip-path: polygon(
    0% 0,
    0% 0,
    100% 0,
    100% 70%,
    73% 63%,
    51% 61%,
    27% 63%,
    0 70%,
    0 0%,
    0 0
  );
}
.circle {
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 10rem;
  margin-left: 10rem;
}
.circle span {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 10rem;
  background-color: #665431;
}
.circle .image {
  position: absolute;
  margin-left: 0.8rem;
  overflow: hidden;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 10rem;
}
.circle img {
  width: 8.5rem;
  height: 9.7rem;
}
.my-info {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #dedede;
  margin-top: -4.5rem;
  gap: 0.3rem;
}
.my-info p span {
  color: #cc9a3f;
}
.socialLinks {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
}
.socialLinks a {
  color: #dedede;
  margin: 0 5px;
  transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -ms-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
}
.socialLinks a:hover {
  color: #cc9a3f;
}
.my-info a {
  text-decoration: none;
}
.my-info p {
  color: #cc9a3f;
}
.my-info .name {
  font-size: 34px;
  font-weight: 400;
}
.info-btns {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
}
.info-btns .left-btn,
.info-btns .right-btn {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #dedede;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}
.info-btns .left-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 0;
  bottom: 0;
  background: radial-gradient(ellipse at left, #38393a 30%, #38393a 70%);
}
.info-btns .right-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 0;
  bottom: 0;
  background: radial-gradient(
    ellipse at right,

    #38393a 30%,

    #38393a 70%
  );
}
.info-btns .right-btn::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at bottom, #38393a 35%, #38393a 100%);
}
.info-btns .left-btn:hover,
.info-btns .right-btn:hover {
  color: #cc9a3f;
}
.info-btns .right-btn label {
  cursor: pointer;
}
.card-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background: #222222;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  z-index: 10;
  overflow: auto;
}
.card-wrap::-webkit-scrollbar {
  width: 6px;
  padding: 0 2px;
}
.card-wrap::-webkit-scrollbar-thumb {
  width: 5px;
  background: #595959;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

/* ---------------------------------------right side------------------------------------- */
.right-cards {
  padding: 20px 0;
  position: absolute;
  left: 557px;
  right: 0;
  top: 15px;
  width: auto;
  height: 90%;
  color: #ccdede;
  background: #222222;
  transform-origin: center left;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 0 4px 4px 0;
  -khtml-border-radius: 4px;
  transition: visibility 1s linear, opacity 0s linear;
  -moz-transition: visibility 1s linear, opacity 0s linear;
  -webkit-transition: visibility 1s linear, opacity 0s linear;
  -o-transition: visibility 1s linear, opacity 0s linear;
  animation-fill-mode: both;
  visibility: hidden;
  overflow: hidden;
}
@media screen and (min-width: 1101px) {
  #about-card:checked ~ .about-card {
    visibility: visible;
  }
  #about-card:checked ~ header label[for="about-card"],
  #about-card:checked ~ header label[for="about-card"] span {
    color: #f6b846;
  }
  #resume-card:checked ~ .resume-card {
    visibility: visible;
  }

  #resume-card:checked ~ header label[for="resume-card"],
  #resume-card:checked ~ header label[for="resume-card"] span {
    color: #f6b846;
  }
  #works-card:checked ~ .works-card {
    visibility: visible;
  }
  #works-card:checked ~ header label[for="works-card"],
  #works-card:checked ~ header label[for="works-card"] span {
    color: #f6b846;
  }
  #blogs-card:checked ~ .blogs-card {
    visibility: visible;
  }
  #blogs-card:checked ~ header label[for="blogs-card"],
  #blogs-card:checked ~ header label[for="blogs-card"] span {
    color: #f6b846;
  }
  #contact-card:checked ~ .contact-card {
    visibility: visible;
  }
  #contact-card:checked ~ header label[for="contact-card"],
  #contact-card:checked ~ header label[for="contact-card"] span {
    color: #f6b846;
  }
  #blogO:checked ~ .blogO {
    visibility: visible;
  }
  #blogO:checked ~ .mainwork label[for="blogO"],
  #blogO:checked ~ .mainwork label[for="blogO"] span {
    color: #f6b846;
  }
}
.container > input[name="menu"] {
  display: none;
}
.about-card-wrap {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.section-header {
  padding: 0 5px;
  padding-bottom: 20px;
  position: relative;
  top: 0;
  background-color: #222222;
  z-index: 100;
}
.section-header::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  background: radial-gradient(
    ellipse at left,
    #353537 0,
    rgba(255, 255, 255, 0) 60%
  );
}
.header {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin: 10px 22px;
}
.header::before {
  position: absolute;
  content: "";
  top: 2px;
  left: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: linear-gradient(135deg, #66522e 0, rgba(245, 208, 88, 0.01) 100%);
}
.cl {
  color: #ff9c33;
}
.str1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.srt2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.info-text {
  width: auto;
}
.about-me-section-content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: unset !important;
}
.section-content {
  position: relative;
  padding-bottom: 30px !important;
}
.info-text strong {
  color: #9b9b94;
  font-weight: bolder;
}
.info-list,
.info-text {
  position: relative;
  font-weight: 100;
  color: #807980;
  padding: 10px 35px;
}

.info-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.info-list li {
  align-items: center;
  flex: 1;
  width: 25rem;
  display: flex;
  gap: 1rem;
  padding: 10px 0;
  font-size: 16px;
  height: 2rem;
  font-size: 14px;
}
.info-list li:nth-child(1) {
  padding-top: 0;
}
.info-list li:nth-last-child() {
  padding-bottom: 0;
}
.info-list li strong {
  padding: 1px 8px;
  font-weight: 400;
  border-radius: 4px;
  color: #9c998f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.my-services-content {
  display: block !important;
  padding: 0;
}
.my-services-content-wrap {
  position: relative;
  padding: 30px;
  display: inline-block;
  width: 49%;
  height: auto;
  vertical-align: top;
}
.my-services-content-wrap::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.7px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    ellipse at top,
    var(--dark-blue) 0,
    rgba(255, 255, 255, 0) 80%
  );
}
.my-services-content-wrap::after {
  position: absolute;
  content: "";
  width: 0.7px;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    ellipse at top,
    #3a3a3c 20%,
    rgba(255, 255, 255, 0) 100%
  );
}
.quote-content-wrap {
  padding: 30px;
}
.servies-item {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: flex-start;
}
.servies-item .icon {
  margin-left: 0rem;
  color: #f6b846;
  border: 2px solid #f6b846;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  margin-bottom: 10px;
}

.servies-item .dics {
  color: #878787;
  font-size: 15px;
  margin-top: 0.7rem;
}

/* ---------------------------resume --------------------------------*/
.resume-section-content {
  padding: 0 0;
  display: flex;
}
.resume-exp {
  margin: 0 20px;
}
.resume-edu,
.resume-exp {
  position: relative;
  flex: 1;
}
.coding {
  width: 20rem;
  padding-bottom: 2rem;
}
.ge {
  width: 15rem;
  height: 0.01rem;
  background-color: #313132;
  margin-left: 2rem;
}
.all {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.7rem;
  font-weight: 100;
  margin-left: 2rem;
  margin-top: 1rem;
}
.allOne {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #d2d2d2;
}
.line {
  width: 10rem;
  background-color: white;
  height: 0.3rem;
  overflow: hidden;
}
.inline {
  width: 9rem;
  background-color: #f6b846;
  height: 0.4rem;
}
.inlineo {
  width: 7.7rem;
  background-color: #f6b846;
  height: 0.4rem;
}
.code {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  width: 8.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  padding-bottom: 0.5rem;
}
.allvi {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8rem;
  font-weight: 100;
  color: #d2d2d2;
  margin-top: 1.5rem;
  margin-left: 2rem;
}
.vio {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.know {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  width: 11rem;
  margin-left: 1rem;
  padding-bottom: 0.5rem;
}
.fa-check {
  color: #f6b846;
}
.skillss {
  display: flex;
  align-items: flex-start;
}

.gee {
  width: 0.01rem;
  height: 10rem;
  background-color: #313132;
  margin-left: 1rem;
}
.know .icon {
  width: 60px;
  height: 60px;
  color: #f6b846;
  border: 3px solid #f6b846;
  border-radius: 20rem;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.code .icon {
  width: 60px;
  height: 60px;
  color: #f6b846;
  border: 3px solid #f6b846;
  border-radius: 20rem;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sub-section-header {
  display: flex;
  align-items: center;
  width: 12rem;
  position: relative;
  padding-bottom: 0.4rem;
}
.le {
  width: 30rem;
  height: 0.01rem;
  background-color: #313132;
  margin-left: 2rem;
}
.sub-section-header .icon {
  width: 60px;
  height: 60px;
  color: #f6b846;
  border: 3px solid #f6b846;
  border-radius: 20rem;
  font-size: 20px;
  float: left;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-section-header .name {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
}
.langle {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  gap: 1rem;
  font-weight: 100;
}
.lan {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sbotton {
  margin-left: 3rem;
  margin-top: 1rem;
}
.bu {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 18rem;
}
.bu .cirlc {
  width: 0.9rem;
  height: 0.9rem;
  background-color: #f6b846;
  border-radius: 10rem;
}
.cirlcb {
  width: 1rem;
  height: 1rem;
  background-color: #3e4148;
  border-radius: 10rem;
}
.skills-section-content .item {
  padding: 0 20px;
  padding-bottom: 20px;
}
.skills-left {
  position: relative;
  display: inline-block;
  width: 49%;
}
.skills-right {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.item-list-content {
  padding: 20px 0 0;
  padding-right: 10px;
}
.item-list-content-name {
  font-size: 16px;
  font-weight: 400;
  color: white;
  margin: 0 0 11px;
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 0%;
  background-color: red;
}

.item-flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-flex-column {
  flex: 0 1 49%;
  text-align: center;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  padding: 10px;
}
/* --------------------------------------work---------------------------- */
.nwork {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  height: fit-content;
  margin-left: 1rem;
  margin-top: 1rem;
}
.nwork img{
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
.mleft,
.maright {
  width: 20rem;
  overflow: hidden;
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;
  
  padding-bottom: 1rem;
  

}
.nwork h3{
  margin-top: 1rem;
}
.mleft:hover .he{
  color: #cc9a3f;
}
.maright:hover .he{
  color: #cc9a3f;
}
.wimage {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
.mainwork {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 90%;
  height: fit-content;
  margin-top: 1rem;
  margin-left: 2.5rem;
  overflow: hidden;
  padding-bottom: 1rem;
}
.mainwork label {
  overflow: hidden;
  
  border-radius: 0.5rem;
  
}
.blogs-card
.works-card .section-header {
  display: flex;
  align-items: center;
  gap: 16rem;
}
.link {
  color: #f6b846;
}
.mainwork h3 {
  font-weight: 100;
  cursor: pointer;
}
.mainwork h3:hover {
  color: #f6b846;
}
.mainwork span {
  font-weight: 100;
  color: #6e6e6e;
  cursor: pointer;
}
.mainleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 17rem;
  overflow: hidden;
}
.under {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.mainright {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.mainleft img {
  width: 20rem;
}
.mainleft:hover .kawr{
  color: #f6b846;

}

.mainright .imaget {
  width: 20rem;
  overflow: hidden;
}
.mainright img {
  width: 14rem;
  height: 9rem;
}
.mainright:hover img {
  width: 14.3rem;
}
.mainwork .lineo {
  width: 0.01rem;
  height: 25rem;
  background-color: #323334;
}
.date {
  border: 1px solid #f6b846;
  color: #f6b846;
  width: 10rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin: auto;
}
.blogs-card .mainwork {
  overflow: hidden;
}
.blogs-card .under span {
  width: 17rem;
  height: 3.5rem;
  font-size: 0.9rem;
  color: #949494;
}
.item .know-list {
  padding: 20px 0;
  list-style: none;
}
.item .know-list li {
  padding: 5px 0;
}
.item .know-list span.marker + span {
  color: #999;
  font-size: 16px;
  font-weight: 400;
}
.item .know-list span.marker {
  margin-right: 14px;
  color: var(--dark-blue);
}

.contact-bottom .info-list ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.contact-bottom .info-list li {
  width: 49%;
  padding: 0 0;
  margin: 5px 15px;
  font-size: 15px;
}
.contact-bottom .info-list li strong {
  font-size: 13px;
  display: flex;
  align-items: center;
}

.contacts-section-content form {
  padding: 30px;
  margin-top: 2rem;
}
.form-group {
  display: inline-block;
}
.form-group input,
.form-group textarea {
  margin: 0;
  display: block;
  font-size: 15px;
  width: 100%;
  height: 50px;
  color: white;
  background: 0 0;
  border: none;
  border-bottom: 1px solid #666666;
  resize: none;
}
.form-group input:focus,
.form-group textarea:focus {
  border-color: #f6b846;
  border-bottom: 2px solid #f6b846;
}
.form-group input:focus::-webkit-input-placeholder,
.form-group textarea:focus::-webkit-input-placeholder {
  color: white;
}
.form-group textarea {
  margin-top: 3rem;
  height: 80px;
}
.form-group button {
  background-color: transparent;
  font-weight: bold;
  color: white;
  font-size: 16px;
  margin-top: 4rem;
  cursor: pointer;
}
.form-group button span {
  margin-left: 1rem;
}
.form-group button:hover {
  color: #f6b846;
}
.works-card .menu-list ul {
  list-style: none;
  display: flex;
}
.works-card .menu-list {
  position: absolute;
  right: 0;
  top: -10px;
  z-index: 1500;
}
.works-card .menu-list ul li {
  position: relative;
  margin-left: 5px;
  display: block;
}
.works-card .menu-list ul li label {
  cursor: pointer;
  position: relative;
  padding: 5px 8px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.blogO {
  font-size: 1rem;
}
.blogO-main {
  width: 90%;
  overflow: hidden;
  margin-left: 2rem;
  color: #858585;
  font-family: "Rajdhani", sans-serif;
  font-weight: bold;
}
.mainleft .imageo {
  width: 20rem;
  height: 10rem;
  overflow: hidden;
}
.imageo img {
  width: 100%;
  height: 10rem;
}
.blogO-photo img {
  width: 100%;
}
.blog-input-comment {
  margin-top: 5rem;
}
.blog-header {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.blogO-title {
  font-size: 2.5rem;
  font-weight: bolder;
}
.blogO-date {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #858585;
}
.blogger {
  margin-top: 2rem;
}
.blog-comment {
  padding: 5rem 0;
}
.comment-header {
  padding-bottom: 1rem;
}
.blog-comment,
.write {
  margin-left: 2rem;
  padding-bottom: 1rem;
}

.co {
  color: #c5953e;
}
.gi {
  width: 30rem;
  height: 0.01rem;
  background-color: #3e4148;
}
.gg {
  width: 30rem;
  height: 0.01rem;
  background-color: #3e4148;
  margin-left: 2rem;
}
.comment-input,
.comment-email,
.comment-names {
  font-weight: 800;
}
.comments {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin: 1rem 0;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #3e4148;
}
.comment-img img {
  width: 3.1rem;
  border-radius: 5rem;
  height: 3.1rem;
}
.commenter {
  color: #efb144;
  font-weight: bolder;
}
.comment-message {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 28rem;
}
.fa-xmark{
  position: absolute;
  color: white;
  margin-top: -10rem;
  margin-left: 6rem;
}